.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/xmonadctl
.xmonad/xmonadctl.hi
.xmonad/build-x86_64-linux
.xmonad/xmonadctl.o
.config/mpd/database
.config/mpd/pid
.config/mpd/playlists
.config/mpd/state
.config/mpd/sticker.sql
.config/spicetify/Backup
.config/mpv/watch_later
.config/rofi/.history
.config/rofi/bookmarks/.bookmarks
.config/hypr/output
.config/bat/syntaxes
.config/tmux/plugins
.config/nvim/.luarc.json
.config/nvim/lazy-lock.json
.emacs.d/.cache
.emacs.d/elpa
.emacs.d/backups
.emacs.d/etc
.emacs.d/transient
.emacs.d/.emacs.desktop
.emacs.d/var
.emacs.d/history
.emacs.d/custom-set-variables.el
.emacs.d/OrgFiles
.emacs.d/projects
.emacs.d/init.el~
.emacs.d/.workgroups
.emacs.d/env.el
.emacs.d/eln-cache
.emacs.d/%backup%~
.emacs.d/project-explorer-cache
.emacs.d/places
.emacs.d/url
.emacs.d/nordic-night-theme.el
.emacs.d/*~
.emacs.d/qr*
.emacs.d/undo
.emacs.d/straight
.emacs.d/tree-sitter
xmenu/Makefile
xmenu/texput.log
xmenu/xmenu
xmenu/xmenu.1
xmenu/xmenu.c
xmenu/xmenu.o
xmenu/icons/.vscode
