.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/xmonadctl
.xmonad/xmonadctl.hi
.xmonad/build-x86_64-linux
.xmonad/xmonadctl.o
.config/mpd/database
.config/mpd/pid
.config/mpd/playlists
.config/mpd/state
.config/mpd/sticker.sql
.config/spicetify/Backup
.config/mpv/watch_later
.config/rofi/.history
.config/rofi/bookmarks/.bookmarks
.emacs.default/.cache
.emacs.default/elpa
.emacs.default/etc
.emacs.default/transient
.emacs.default/var
.emacs.default/custom-set-variables.el
.emacs.default/OrgFiles
.emacs.default/init.el~
xmenu/Makefile
xmenu/texput.log
xmenu/xmenu
xmenu/xmenu.1
xmenu/xmenu.c
xmenu/xmenu.o
