.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/xmonadctl
.xmonad/xmonadctl.hi
.xmonad/xmonadctl.o
.config/mpd/database
.config/mpd/pid
.config/mpd/playlists
.config/mpd/state
.config/mpd/sticker.sql
