// Nord Theme

// Polar Night
$BG1: #4c566a;
$BG2: #434c5e;
$BG3: #3b4252;
$BG4: #2e3440;

// Snow Storm
$FG1: #eceff4;
$FG2: #e5e9f0;
$FG3: #d8dee9;

// Frost
$FR1: #5e81ac;
$FR2: #81a1c1;
$FR3: #88c0d0;
$FR4: #8fbcbb;

// Aurora
$AR1: #b48ead;
$AR2: #a3be8c;
$AR3: #ebcb8b;
$AR4: #d08770;
$AR5: #bf616a;

.time {
    font-size: 90px;
    background-color: $BG4;
    color: $AR5;
    font-weight: bolder;
    background-image: url("/home/arbab/Documents/ProfilePics/Foxes.jpg");
    background-position: center;
    background-size: 220px;
}

.art {
    color: $AR2;
    background-image: url("/home/arbab/tmp/cover.jpg");
    background-position: center;
    background-size: 220px;
}
