configuration {
    kb-row-up: "Alt+k,Up,Shift+Tab";
    kb-row-down:  "Alt+j,Down";
    kb-accept-entry: "Control+m,Return,KP_Enter";
    kb-remove-to-eol: "Control+Shift+e";
    kb-mode-next: "Shift+Right,Control+Tab,Alt+l";
    kb-mode-previous: "Shift+Left,Control+Shift+Tab,Alt+h";
    kb-remove-char-back: "BackSpace";
}
